<ion-header>
    <ion-toolbar>
        <ion-title>GalleryPlus Test</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button expand="full" (click)="getMediaFiles()">
        <ion-icon slot="start" name="images-outline"></ion-icon>
        Load Media
    </ion-button>

    <ion-list>
        <ion-item *ngFor="let media of mediaList" (click)="showInfo(media)">
            <ion-thumbnail slot="start">
                <img oading="lazy" [src]="media.thumbnail" />
            </ion-thumbnail>
            <ion-label>
                <h3>{{media.mimeType}}</h3>
                <p><ion-icon name="calendar-outline"></ion-icon> {{ media.createdAt | date:'short' }}</p>
            </ion-label>

            <ion-note color="medium" slot="end">{{media.fileSize || 0 | fileSize}}</ion-note>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)" [disabled]="isWeb">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
